.cart-page {
  padding-top: 50px;
  h1 {
    font-size: 36px;
    line-height: 35px;
    margin: 50px 0px;
  }
  &__items {
    padding: 0;
    width: 600px;
    list-style: none;
  }
  &__item {
    padding: 16px 0;
    border-bottom: 1px solid #e2e2e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 70px;
    }
    &:first-child {
      border-top: 1px solid #e2e2e9;
    }
    &-descr {
      width: 250px;
      h3 {
        font-size: 18px;
        line-height: 18px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
        color: #73798c;
      }
    }
    &-buttons {
      font: inherit;
      color: rgb(0, 0, 0);
      width: 96px;
      height: 32px;
      background-color: #f3f3f7;
      box-sizing: border-box;
      border-radius: 9999px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        color: #5e6471;
        font-weight: 400;
        line-height: 1;
        margin: 0px;
        font-size: 20px;
        line-height: 1;
        background: none;
        cursor: pointer;
        vertical-align: top;
        padding: 0 8px;
        border: none;
        outline: none;
        &:hover {
          font-weight: 700;
          color: #000;
        }
      }
    }
    span {
      font-weight: 500;
    }
    &-trash {
      cursor: pointer;
    }
  }
}

.cart-page-sum {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: right;
  font-size: 21px;
  font-weight: 700;
  span {
    font-size: 26px;
    color: #ff6900;
  }
}

.cart-page__footer {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-back {
  outline: none;
  border: none;
  border-radius: 9999px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  background-color: #f3f3f7;
  color: #5c6370;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 48px 12px 54px;
  transition: color .2s linear;
  &:hover {
    color: #000;
  }
  svg {
    transform: rotate(180deg);
    path {
      stroke: #5c6370;
    }
  }
}

.btn-buy {
  outline: none;
  border: none;
  border-radius: 9999px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  background-color: #ff6900;
  color: #ffffff;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 54px 12px 48px;
  transition: background-color .2s linear;
  &:hover {
    background-color: darken(#ff6900, 10%);
  }
  svg {
    path {
      stroke: #ffffff;
    }
  }
}


@media (max-width: 768px) {
  .cart-page {
    width: 580px;
    h1 {
      font-size: 30px;
      line-height: 30px;
      margin: 40px 0px;
    }
    &__items {
      width: 100%;
    }
    &__footer {
      width: 100%;
    }
  }
  .btn-back {
    display: none;
  }
  .btn-buy {
    width: 100%;
  }
  .cart-page__item-price {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .cart-page {
    width: 100%;
  }
  .cart-page__item img {
    width: 50px;
  }
  .cart-page__item-buttons {
    width: 70px;
    height: 25px;
  }
  .cart-page__item-descr {
    width: 200px;
    h3 {
      font-size: 15px;
      line-height: 15px;
    }
    p {
      font-size: 10px;
      line-height: 12px;
    }
  }
  .cart-page__item-price {
    font-size: 1rem;
  }
}
