.mobile-cart-button {
  font-size: 15px;
  line-height: 1.4;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  color: rgb(255, 105, 0);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 16px;
  border: none;
  right: 16px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-image: radial-gradient(100% 100% at 50% 0%, rgb(255, 111, 0) 0%, rgb(247, 91, 0) 100%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  z-index: 3;
}
.mobile-button-counter {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 38px;
  min-width: 21px;
  height: 21px;
  border-radius: 11px;
  padding-bottom: 2px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 105, 0);
  color: rgb(255, 105, 0);
}

@media (min-width: 992px) {
  .mobile-cart-button {
    display: none;
  }
}