.header {
 padding-top: 20px;
 &__logo {
   svg {
     width: 100%;
   }
 }
}

.header__contacts {
 display: flex;
 align-items: center;
 padding: 5px 0 5px 30px;
 &-city {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.1;
  span {
   color: #ff6900;
  }
 }
 &-time {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  display: flex;
  align-items: center;
  img {
   margin-left: 5px;
  }
 }
 &-phone {
   margin-left: 30px;
  a {
   text-decoration: none;
   color: #000000;
   font-size: 1.8rem;
   line-height: 1;
   font-weight: 500;
  }
  .header__contacts-text {
   color: #999999;
   font-weight: 500;
   font-size: 1.5rem;
   line-height: 1;
  }
 }
}

.header__login {
  text-align: right;
 &-button {
  margin-left: 5px;
  display: inline-block;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 100px;
  padding: 8px 16px;
  color: #5C6370;
  cursor: pointer;
  transition: color .2s linear;
  &:hover {
   color: #000000;
  }
 }
}

.signin-modal {
  position: fixed;
  display: flex;
  width: 650px;
  padding: 30px 40px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  &__close {
    position: absolute;
    top: -5px;
    right: -35px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: transform .1s linear;
    &:hover {
      transform: scale(1.1);
    }
  }
  form {
    h2 {
      margin-bottom: 40px;
      font-size: 36px;
      font-weight: 500;
    }
    input {
      width: 270px;
      display: block;
      padding: 2px 15px;
      margin: 10px 0;
      border-radius: 8px;
      border: 1px solid rgba(115, 121, 140, 0.32);
      color: rgb(0, 0, 0);
      font-size: 16px;
      line-height: 40px;
      font-weight: 500;
      outline: none;
    }
    button {
      margin-top: 20px;
      margin-bottom: 20px;
      outline: none;
      border: none;
      border-radius: 9999px;
      text-align: center;
      cursor: pointer;
      width: 200px;
      font-weight: 500;
      background-color: #ff6900;
      color: #ffffff;
      padding: 10px 24px;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        background-color: darken(#ff6900, 5%);
      }
    }
  }
  &__link {
    color: #ff6900;
    cursor: pointer;
  }
}

@media (max-width: 1199px) {
  .header__contacts {
    &-city {
      font-size: 1.5rem;
      line-height: 1;
    }
    &-time {
      font-size: 1.3rem;
    }
    &-numbers {
      a {
        font-size: 1.5rem;
      }
    }
    .header__contacts-text {
      font-size: 1.3rem;
    }
  }
  .header__login-button {
    font-size: 1.2rem;
    padding: 6px 14px;
  }
}

@media (max-width: 990px) {
  .header__contacts-phone {
    display: none;
  }
  .header__contacts {
    &-city {
      font-size: 1.3rem;
      line-height: 1;
    }
    &-time {
      font-size: 1.1rem;
    }
    &-numbers {
      a {
        font-size: 1.3rem;
      }
    }
    .header__contacts-text {
      font-size: 1.1rem;
    }
  }
  .header__login-button {
    font-size: 1.2rem;
    padding: 4px 12px;
  }
}

@media (max-width: 576px) {
  .header__middle{
    display: none;
  }
}