.product__title {
  width: 100%;
  margin: 32px 0px;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 500;
  color: #000000;
}

@media (max-width: 992px) {
  .product__title {
    margin: 24px 0px;
    font-size: 2.2rem;
    line-height: 1.2;
  }
}